
<!--
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>-->


<md-toolbar color="primary">
  <button md-button ><md-icon class="example-icon">reorder</md-icon></button>
  <span>Ad Cms Admin</span>
</md-toolbar>
<div class = "main">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>